html{
    height:100%;
    overflow-y:auto;
}

body{
    height:100%;
}

div#container{
    height:100%;
	margin:0px 0px 10px 20px;
}

ul{margin:0;padding:0}
li{margin:0;padding:0;list-style:none;}
p{margin:0;padding:0}
div{margin:0;padding:0}

div#topbar{
    width:100%;
    min-width:750px;
    padding:0px 3px;
	border-bottom:2px solid gray;
    overflow:hidden;
}

div#topbar-content{
    position:relative;
    margin-right:125px;
    height:100px;
}

span#topbar-appName{
    position:absolute;
    top:0px;
    right:0px;
    height:80px;
    width:115px;
	border-left:2px solid gray;
	padding:10px 5px;
	text-align:right;
	font-size:40px;
    line-height:1;
	font-weight:bold;
}

div.notification{
    position:fixed;
    width:300px;
    top:5px;
    left:50%;
    margin:0px 0px 0px -150px;
    background-color:red;
    font-size:15px;
    text-align:center;
    display:none;
}

div#sidebar{
    display:None;
    position:fixed;
    width:200px;
    height:100%;
    background-color:darkGrey;
    top:0px;
    left:-180px;
    transition:left 1s;
}

div#sidebar:hover{
    left:0px;
}

div#sidebar div.sidebar-title{
    margin:0px 20px;
    font-size:18px;
}

div#sidebar img.sidebar-icon{
    position:absolute;
    right:0px;
    top:0px;
    width:20px;
    height:20px;
}

div#sidebar ul.sidebar-list{
    width:100%;
    padding-top:10px;
}

div#sidebar li{
    margin:0px 20px 5px 20px;
}    

div#sidebar p.sidebar-button{
    text-align:center;
    padding:5px;
    width:100%;
    box-sizing:border-box;
    background-color:ivory;
}

div#sidebar p.sidebar-button:hover{
    padding:4px;
    border:1px solid black;
}

div#sidebar p#button-save{
    background-color:lightGreen;
}

div#welcome{
    margin-left:20px;
}

div#welcome h1{
    text-align:center;
}

div#welcome div.welcome-button{
    float:left;
    width:200px;
    height:150px;
    background-color:lightBlue;
    margin:10px;
    font-size:20px;
    text-align:center;
    line-height:7;
    padding:1px;
}

div#welcome div.welcome-button:hover{
    padding:0px;
    border:1px solid black;
}

div#welcome div#welcome-load{
    background-color:lightBlue;
}

div#welcome div#welcome-new{
    background-color:yellow;
}

div#infeasible-editor,
div#dm-editor{
    margin: 5px 10px 10px 10px;
    padding:5px;
	background-color:darkTurquoise;
	min-height:500px;
}

input.confName{
    position:relative;
    left:20px;
    margin-top:30px;
	font-size:25px;
	padding:8px 4px;
    background-color:transparent;
    border:solid 1px transparent;
}

input.confName:hover{
    border:solid 1px black;
}

input.confName:focus{
    background-color:white;
}

textarea.confDesc{
    position:relative;
    box-sizing:border-box;
    width:320px;
    height:90px;
    resize:none;
    margin:5px;
    left:80px;
    background-color:transparent;
    border:solid 1px transparent;
}

textarea.confDesc:focus{
    background-color:white;
}

textarea.confDesc:hover{
    border:solid 1px black;
}
div.infeasible-list-container,
div.mutex-list-container,
div.dm-list-container{
    min-width:325px;
    float:left;
    margin-right:10px;
}

div.dm-list{
    width:100%;
}

form.optionOwner{
	position:relative;
	margin-bottom:10px;
	border:2px solid black;
	width:100%;
	min-height:100px;
	background-color:lightBlue;
    box-sizing:border-box;
}

li.addInfeasible,
li.addMutex,
li.addDM {
	position:relative;
    box-sizing:border-box;
	margin:0px;
	margin-bottom:5px;
	border:1px solid black;
	width:100%;
	height:32px;
	padding:2px 1px;
	background-color:deepskyblue;
	text-align:center;
	font-size:20px;
    line-height:1;
}

li.addInfeasible:hover,
li.addMutex:hover,
li.addDM:hover {
	border:2px black solid;
	padding:1px 0px;
}

input.owner-name,
form.optionOwner input.dmName{
	position:relative;
	margin:5px;
	width:70%;
	font-size:20px;
	color:red;
	padding:2px 4px;
    background-color:transparent;
    border:none;
}

input.owner-name:hover,
form.optionOwner input.dmName:hover{
    padding:1px 3px;
    border:1px solid black;
}

input.owner-name:focus,
form.optionOwner input.dmName:focus{
    background-color:white;
}

div.option-bank-container{
    border:2px black solid;
    background-color:lightBlue;
    float:left;
}

p.list-title{
    font-size:20px;
    text-align:center;
    margin-bottom:5px;
}

.option-list{
	margin:5px;
	padding:5px;
	position:relative;
	width:300px;
	background-color:beige;
    min-height:60px;
}

li.option {
	height:60px;
	width:300px;
	margin-bottom:5px;
	background-color:lightGreen;
	position:relative;
}

li.option:last-of-type{
    margin-bottom:0px;
}

li.option:last-of-type::after{
    content:"";
    clear:both; /*clear floats for floated options */
}

li.option.unused{
    background-color:pink;
}

div.addOpt {
	height:18px;
	width:298px;
	padding:5px;
	margin:5px;
	background-color:limeGreen;
	border:1px limeGreen solid;
	position:relative;
	text-align:center;
}

div.addOpt:hover {
	border:1px black solid;
}

li.option img.icon{
	position:relative;
	height:40px;
	width:40px;
	border-radius:10px;
	border:2px solid black;
	margin:7px;
	background-color:gold;
}

li.option img.icon:hover{
	border:3px solid black;
	margin:6px;
}

li.option input.optName{
	position: absolute;
	background-color:transparent;
	border:1px solid transparent;
	margin:5px;
	font-weight:bold;
	font-size:16px;
    width:160px;
}

li.option input.optName:hover{
	border:1px solid black;
}

li.option input.optName:focus{
	background-color:white;
}

li.option div.optDetails{
	position:absolute;
	margin:5px;
	bottom:0;
	left:56px;
}

img.cornerX{
	margin-right:4px;
	margin-top:3px;
    float:right;
	height:14px;
	width:14px;
	padding:1px;
	border-radius:9px;
}

img.cornerX:hover{
	border:1px solid black;
	padding:0px;
}

img.arrow{
	margin-right:4px;
	margin-top:3px;
    float:right;
    height:14px;
	width:14px;
    padding:1px;
}

img.arrow:hover{
    padding:0px;
    height:16px;
    width:16px;
}

div.iconPicker{
	padding:3.5px;
	background-color:red;
	width:147px;
	position:absolute;
	left:0px;
	top:0px;
	z-index:1;
}

img.iconPicker{
	position:relative;
	float:left;
	height:40px;
	width:40px;
	border:2px solid black;
	margin:2.5px;
	border-radius:10px;
	background-color:gold;
}

img.iconPicker:hover{
	border:3px solid black;
	margin:1.5px;
}

ul.compact li.option{
    float:left;
    width:60px;
}

ul.compact li.option input.optName,
ul.compact li.option div.optDetails,
ul.compact li.option img.cornerX{    /*make elements invisible for comapct view */
    display:none;
}

ul.compact li.option img.icon:hover{
    border:2px solid black;
	margin:7px;
}

div.yes-no{
    height:40px;
    width:40px;
    margin:7px;
    border-radius:10px;
    background-color:white;
	border:2px solid black;
    float:right;
}

div.yes-no:hover{
	border-width:3px;
	margin:6px;
}

li.option.state-yes div.yes-no{
    background-color:green;
}

li.option.state-no div.yes-no{
    background-color:red;
}

ul.compact li.option div.yes-no{
    display:none;
}

ul.compact li.option.state-yes img.icon{
    margin:5px;
    border:4px solid green;
}

ul.compact li.option.state-no img.icon{
    margin:5px;
    border:4px solid red;
}

div#infeasible-editor div.option-bank-container img.cornerX{
    display:none;
}